/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-color: #f75d59;
    --text-color: #ffffff;
    --background-color: #1a232f;
    --font-family: 'Source Sans Pro', sans-serif;
    --padding-container: 20px 40px;
}

/* General Styling */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/headphone.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-container);
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.logo .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
}

/* Hero Content */
.hero-content {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Bottom Text */
.bottom-text {
    width: 100%;
    padding: var(--padding-container);
    max-width: 800px;
}